#grid-container
{
    display: grid;
    grid-template-rows: 1.125svh 1.125svh 1.125svh 1.125svh 1.125svh
                        1.125svh 1.125svh 1.125svh 1.125svh 1.125svh
                        1.125svh 1.125svh 1.125svh 1.125svh 1.125svh
                        1.125svh 1.125svh 1.125svh 1.125svh 1.125svh
                        1.125svh 1.125svh 1.125svh 1.125svh 1.125svh
                        1.125svh 1.125svh 1.125svh 1.125svh 1.125svh
                        1.125svh 1.125svh 1.125svh 1.125svh 1.125svh
                        1.125svh 1.125svh 1.125svh 1.125svh 1.125svh
                        1.125svh 1.125svh 1.125svh 1.125svh 1.125svh
                        1.125svh 1.125svh 1.125svh 1.125svh 1.125svh
                        1.125svh 1.125svh 1.125svh 1.125svh 1.125svh
                        1.125svh 1.125svh 1.125svh 1.125svh 1.125svh
                        1.125svh 1.125svh 1.125svh 1.125svh 1.125svh
                        1.125svh 1.125svh 1.125svh 1.125svh 1.125svh
                        1.125svh 1.125svh 1.125svh 1.125svh 1.125svh
                        1.125svh 1.125svh 1.125svh 1.125svh 1.125svh;
    grid-template-columns: 0.98svw 0.98svw 0.98svw 0.98svw 0.98svw
                           0.98svw 0.98svw 0.98svw 0.98svw 0.98svw
                           0.98svw 0.98svw 0.98svw 0.98svw 0.98svw
                           0.98svw 0.98svw 0.98svw 0.98svw 0.98svw
                           0.98svw 0.98svw 0.98svw 0.98svw 0.98svw
                           0.98svw 0.98svw 0.98svw 0.98svw 0.98svw
                           0.98svw 0.98svw 0.98svw 0.98svw 0.98svw
                           0.98svw 0.98svw 0.98svw 0.98svw 0.98svw
                           0.98svw 0.98svw 0.98svw 0.98svw 0.98svw
                           0.98svw 0.98svw 0.98svw 0.98svw 0.98svw
                           0.98svw 0.98svw 0.98svw 0.98svw 0.98svw
                           0.98svw 0.98svw 0.98svw 0.98svw 0.98svw
                           0.98svw 0.98svw 0.98svw 0.98svw 0.98svw
                           0.98svw 0.98svw 0.98svw 0.98svw 0.98svw
                           0.98svw 0.98svw 0.98svw 0.98svw 0.98svw
                           0.98svw 0.98svw 0.98svw 0.98svw 0.98svw
                           0.98svw 0.98svw 0.98svw 0.98svw 0.98svw
                           0.98svw 0.98svw 0.98svw 0.98svw 0.98svw
                           0.98svw 0.98svw 0.98svw 0.98svw 0.98svw
                           0.98svw 0.98svw 0.98svw 0.98svw 0.98svw;
    width: 98svw;
    height: 90svh;
    background-color: lightblue;
    margin: 0%;
    padding: 0%;
    border: 1svw inset black;
    transition: background-color 5s border-color 5s;
}
#bird
{
    grid-area: 1 / 6 / span 4 / span 5;
    transition: rotate 0.1s;
    display: flex;
    align-self: stretch;
}
@keyframes tored
{
    from{background-color: darkolivegreen;}
    to{background-color: darkred;}
}
.pillar
{
    background-color: darkolivegreen;
    border: 10px black solid;
    transition: background-color grid-area;
}
div.score
{
    display: inline;
    font-size: x-large;
    color: lightblue;
    font-family: papyrus;
    height: 5svh;
    margin: 1svh;
}