#grid-container
{
    display: grid;
    grid-template-rows: 8px 8px 8px 8px 8px 8px 8px 8px
                        8px 8px 8px 8px 8px 8px 8px 8px
                        8px 8px 8px 8px 8px 8px 8px 8px
                        8px 8px 8px 8px 8px 8px 8px 8px
                        8px 8px 8px 8px 8px 8px 8px 8px
                        8px 8px 8px 8px 8px 8px 8px 8px
                        8px 8px 8px 8px 8px 8px 8px 8px
                        8px 8px 8px 8px 8px 8px 8px 8px
                        8px 8px 8px 8px 8px 8px 8px 8px
                        8px 8px 8px 8px 8px 8px 8px 8px;
    grid-template-columns: 1% 1% 1% 1% 1% 1% 1% 1% 1% 1%
                           1% 1% 1% 1% 1% 1% 1% 1% 1% 1%
                           1% 1% 1% 1% 1% 1% 1% 1% 1% 1%
                           1% 1% 1% 1% 1% 1% 1% 1% 1% 1%
                           1% 1% 1% 1% 1% 1% 1% 1% 1% 1%
                           1% 1% 1% 1% 1% 1% 1% 1% 1% 1%
                           1% 1% 1% 1% 1% 1% 1% 1% 1% 1%
                           1% 1% 1% 1% 1% 1% 1% 1% 1% 1%
                           1% 1% 1% 1% 1% 1% 1% 1% 1% 1%
                           1% 1% 1% 1% 1% 1% 1% 1% 1% 1%;
    width: 100%;
    height: 640px;
    background-color: black;
    margin: 0%;
    border-width: 0%;
    padding: 0%;
    border: 10px inset black;
    transition: background-color 5s border-color 5s;
}
#bird
{
    grid-area: 1 / 1 / span 1 / span 1;
    height: 80px;
    transition: rotate 0.1s;

}
@keyframes tored
{
    from{background-color: darkolivegreen;}
    to{background-color: darkred;}
}
.pillar
{
    background-color: darkolivegreen;
    border: 10px black solid;
    transition: background-color grid-area;
}
div.score
{
    display: inline-block;
    font-size: x-large;
    color: lightblue;
    font-family: papyrus;
}